<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if validlink %}
    <h1>Nueba contraseña</h1>
    <form method="post">
        {% csrf_token%}

        {{ form.new_password1.errors}}
        <label for="id_new_password1"> nueva contraseña</label>
        {{form.new_password1}}
        
        {{ form.new_password2.errors}}
        <label for="id_new_password2"> confime contraseña</label>
        {{form.new_password2}}
        <input type="submit" value="cambiar contraseña">
    </form>
    {% else %}
    <H1 class="text-center"> el enlace ya vencio o a sido actualizado</H1>
    {% endif %}
</body>
</html>