{% extends "web/base.html"%}
{% block title %}  {% endblock %}

{% block content%}
<div class="container">
       <div class="nav-content #1a237e indigo darken-4">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="editar">editar</a></li>
        <li class="tab"><a href="eliminar_p">eliminar</a></li>
        <li class="tab"><a href="listado_producto">listar</a></li>
          <li class="tab"><a href="agregar_p">Agregar</a></li>
      </ul>
    </div>
  </nav>
</div>


<div class =" center">
  <h4> listado </h4>
</div>
<div class="container">
      <ul class="collection with-header">
          <li class="collection-header"><h5>CODIGO MARCA MODELO</h5></li>
            {% for producto in listado %}

        <li class="collection-item">{{ producto.codigo }} {{ producto.marca }} {{ producto.modelo }}</li>
            {% endfor%}

        </ul>
</div>




















{% endblock %}

{% block javascript%}

{% endblock %}