{% extends "web/base.html"%}
{% block title %}  {% endblock %}

{% block content%}
<br>
<div class="container center">
       <div class="nav-content #1a237e indigo darken-4">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="editar">editar</a></li>
        <li class="tab"><a href="eliminar_p">eliminar</a></li>
        <li class="tab"><a href="listado_producto">listar</a></li>
          <li class="tab"><a href="agregar_p">Agregar</a></li>
      </ul>
    </div>
  </nav>
</div>


<div class =" center">
  <h4> listado </h4>
</div>
<div class="container responsive-table">
  <table class="centered" >
    <thead >
      <tr>
          <th>CODIGO</th>
          <th>MARCA</th>
          <th>MODELO</th>
      </tr>
    </thead>
    {% for producto in listado %}
    <tbody >
      <tr>
        <td>{{ producto.codigo }}</td>
        <td>{{ producto.marca }}</td>
        <td>{{ producto.modelo }}</td>
      </tr>
    </tbody>
    {% endfor%}
  </table>
     
</div>




















{% endblock %}

{% block javascript%}

{% endblock %}