{% extends "web/base.html"%}
{% block title %} Error {% endblock %}

{% block content%}
<br>
<br>
<br>
<br>
<div class="row">
    <form class="col s12">
      <div class=" section container">
          <div class="row card-panel #e0e0e0 grey lighten-2">
              <div class="center">
                  <h4>ERROR 201</h4>
                  <h5>Datos no encontrados</h5>
              </div>

            <div>
          </div>
        </div>
      </div>
    </form>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<!--termino de carusel-->
    <footer class="page-footer #1a237e indigo darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">Venta de productos tecnologico como computadores de alta gama,accesorios,telefonia.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Pc gamer</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Notebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Telefonos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Accesorio</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2020 derechos reservados
      </div>
    </div>
  </footer>

{% endblock %}

{% block javascript%}

{% endblock %}